<%-include("partials/header")-%>
<!-- <div class="container"> -->
   
<!-- Our team Section -->
<section id="team heading" class="team content-section box">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>Our Team</h2>
          <h3 class="caption gray">Meet the people who make awesome stuffs</h3>
        </div><!-- /.col-md-12 -->
  
        <div class="container">
          <div class="row">
  
            <div class="col-md-4">
              <div class="team-member ">
                <figure>
                  <img src="/img/rishabh.jpeg" alt="rishabh" class="img-responsive">
                  <figcaption>
                    
         <p>Hey ! , I'm Rishabh Yadav . I develop server-side logic using Node.js and Express to create robust and efficient APIs for web applications.</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Rishabh Yadav</h4>
                <p>Backend Engineer</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->
  
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="/img/hp.jpeg" alt="" class="img-responsive">
                  <figcaption>
                    <p>Hey ! , I'm Himanshu Pathak . I am a team lead and handle the database which mongodb.</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Himanshu Pathak</h4>
                <p>Team Lead & DB Management</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->
  
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="/img/asb.jpeg" alt="" class="img-responsive">
                  <figcaption>
                    <p>Hey ! , I'm Anurag Singh Bhadoriya .I am deal with deployment part of website.</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Anurag Singh Bhadoriya</h4>
                <p>Deployment Manager</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->
            
            <div class="col-md-4">
                <div class="team-member">
                  <figure>
                    <img src="/img/sp.jpeg" alt="" class="img-responsive">
                    <figcaption>
                        <p>Hey ! , I'm Shivani Patel .I am take care frontend of our website.</p>
                      <ul>
                        <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                      </ul>
                    </figcaption>
                  </figure>
                  <h4>Shivani Patel</h4>
                  <p>Frontend Developer</p>
                </div><!-- /.team-member-->
              </div><!-- /.col-md-4 -->
  
          </div><!-- /.row -->
        </div><!-- /.container -->
  
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.our-team -->
<%-include("partials/footer")-%>