<%-include("partials/header")-%>
<div class="container">

  <h1 class="text-color">WRITE BLOG</h1>
  <form  action="/compose" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label for="exampleFormControlSelect1">Topic</label>
          <select class="form-control" id="exampleFormControlSelect1" name="page">
            <option value="Web Technology" >Web Technology</option>
            <option value="Blog">Blog</option>
            <option value="Technology">Technology</option>
          </select>
        </div>
      <div class="form-group">
        <label for="text-title" class="text-color">Title</label>
        <input type="text" class="form-control" id="text-title" placeholder="Enter the Title" name="title">
      </div>
      <div class="form-group">
        <label for="text-title">Image</label><br>
        <input type="file" name="image" value="/img/rylogo.png">
       
      </div>
      <div class="form-group">
        <label for="text-title">HeadLine</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" cols="30" placeholder="HeadLine of Blog..." name="headline"></textarea>
    </div>
      <div class="form-group">
          <label for="text-title">Blog</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="30" placeholder="Enter your blog ..." name="content"></textarea>
      </div>
      <input type="submit" class="btn btn-success m-3 p-3" value="Publish">

      <!-- <button type="submit" class="btn btn-success m-3 p-3" name="button">PUBLISH</button> -->
  </form>
</div>
<%-include("partials/footer")-%>