<%-include("partials/header")-%>
    <!-- <h1 class="text-color">Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, dolores dicta quas voluptatum suscipit deleniti architecto porro aspernatur et rerum, possimus, molestiae necessitatibus nulla ratione delectus illo totam quaerat libero!</p> -->
   
    <div class="contact-me">
        <h1>Get In Touch - Say hello 👋</h1>

        <!-- <p class="position" >Say hello 👋 </p> -->
        <div class="form">
          <h2>Contact me</h2>
          <form action="#">
            <input type="text" placeholder="Name:">
            <input type="text" placeholder="Email:">
            <textarea class="textarea" name="" id="" cols="30" rows="10" placeholder="Message:"></textarea>
            <a href=""><img src="img/twitter.png" alt="T" class="form-logo"></a>
            <a href=""><img src="img/github.png" alt="G" class="form-logo"></a>
            <a href=""><img src="img/linkedin.png" alt="L" class="form-logo"></a>
            <a href=""><img src="img/gmail.png" alt="GM" class="form-logo"></a>
            <input type="button" value="Submit">
          </form>
        </div>
        <!-- <a class="btn" href="mailto:name@email.com">CONTACT ME</a> -->
      </div>
<%-include("partials/footer")-%>