<%-include("partials/header")-%>
    <h1 class="text-color">Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, dolores dicta quas voluptatum suscipit deleniti architecto porro aspernatur et rerum, possimus, molestiae necessitatibus nulla ratione delectus illo totam quaerat libero!</p>
</div>
<%-include("partials/footer")-%>